   <section class="section-padding bg-gray">
      <div class="container">
         <div class="col-md-12 text-center mb-5">
            <h4 class="eco-heading text-dark-color">Serviced Properties</h4>
            <span class="eco-line"></span>
            <h2 class="eco-subheading">
               The service provided by the Casa Deyra has proven to be the best in quality and durability. 
            </h2>
         </div>
         <div class="row">
            <div class="col-md-4">
               <a href="#">
                  <article class="eco-product text-center">
                     <figure>
                        <img src="assets/img/eco/p1.jpg" alt="product" class="img-fluid">
                        <span class="fa fa-wrench"></span>
                     </figure>
                     <h3>
                        Seesam
                        <br>
                        <span>View More</span>
                     </h3>
                  </article>
               </a>
            </div>
            <div class="col-md-4">
               <a href="#">
                  <article class="eco-product text-center">
                     <figure>
                        <img src="assets/img/eco/p2.jpg" alt="product" class="img-fluid">
                        <span class="fa fa-wrench"></span>
                     </figure>
                     <h3>
                        Saaj
                        <br>
                        <span>View More</span>
                     </h3>
                  </article>
               </a>
            </div>
            <div class="col-md-4">
               <a href="#">
                  <article class="eco-product text-center">
                     <figure>
                        <img src="assets/img/eco/p3.jpg" alt="product" class="img-fluid">
                        <span class="fa fa-wrench"></span>
                     </figure>
                     <h3>
                        Cherry
                        <br>
                        <span>View More</span>
                     </h3>
                  </article>
               </a>
            </div>
            <div class="col-md-4">
               <a href="#">
                  <article class="eco-product text-center">
                     <figure>
                        <img src="assets/img/eco/p4.jpg" alt="product" class="img-fluid">
                        <span class="fa fa-wrench"></span>
                     </figure>
                     <h3>
                        Teak
                        <br>
                        <span>View More</span>
                     </h3>
                  </article>
               </a>
            </div>
            <div class="col-md-4">
               <a href="#">
                  <article class="eco-product text-center">
                     <figure>
                        <img src="assets/img/eco/p5.jpg" alt="product" class="img-fluid">
                        <span class="fa fa-wrench"></span>
                     </figure>
                     <h3>
                        Pine
                        <br>
                        <span>View More</span>
                     </h3>
                  </article>
               </a>
            </div>
            <div class="col-md-4">
               <a href="#">
                  <article class="eco-product text-center">
                     <figure>
                        <img src="assets/img/eco/p6.jpg" alt="product" class="img-fluid">
                        <span class="fa fa-wrench"></span>
                     </figure>
                     <h3>
                        Wall Panelling
                        <br>
                        <span>View More</span>
                     </h3>
                  </article>
               </a>
            </div>
         </div>
      </div>
   </section>
<section class="eco-form-section" style=" background: url(http://html.efforttech.com/html/eminent/images/background/2.jpg);">
   <div class="eco-box">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="inner-column">
                            <h3>You are <br> 10 Minutes away from the Help you need</h3>
                            <div class="text"><p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.</p></div>
                        </div>
         </div>

         <div class="form-column col-md-6">
                        <div class="eco-inner-column">
                            <div class="appointment-form">
                                <h3>Request A Call Back</h3>
                                <form method="post" action="">
                                    <div class="form-group">
                                        <input type="text" name="username" placeholder="Your Name" required="">
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Your Email" required="">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="department" placeholder="Subject">
                                    </div>
                                    
                                    <div class="form-group">
                                        <textarea name="message" placeholder="Message"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
      </div>
   </div>
</div>
</section>